# Compiled
*.elc

# Packaging
.cask

# Desktop files
.emacs.desktop
.emacs.desktop.lock

# Places (each machine has different files)
.places

# installed packages
elpa

# session files
session.*

# multiple cursors file
.mc-lists.el

.newsrc*

# auto-complete file
ac-comphist.dat

# Undo-tree save-files
*.~undo-tree